html,
body {
    font-family: "Inter", sans-serif !important;
}

.ant-menu,
.ant-table,
.ant-breadcrumb,
.ant-page-header-heading-title,
.ant-typography,
.ant-layout,
.ant-layout-content,
.ant-layout-header,
.ant-layout-footer {
    font-family: 'Inter', sans-serif !important;
}

/* :where(.ant-table) {
    font-family: 'Inter', sans-serif !important;
} */